{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Achter maintenant</h1>
    </div>
    {% for product in data %}
        {{ product.title }}
        {{ product.price }}
    {% endfor %}

{% endblock %}